body,html {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.content {
    width: 66%;
    margin: auto;
}

.navlist li {
    list-style-type: none;
}

.navlist li a {
    padding: 5px;
    margin: 15px;
}

a {
    color: #29d18e;
    text-decoration: none;
}
